.body{
    width: 100%;
    height: 90vh;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.header{
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
}

.header img{
    width: 40%;
    height: 60%;
}

.sectionPerfil{
    width: 100%;
    background-color: black;
    overflow-x: hidden;
    font-family: sans-serif;
    color: yellow;
}

.secao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

.infoPerfil{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fotoPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.adicionarRole{
    color: black;
    background-color: yellow;
    border: 0;
    box-shadow: 0;
    border-radius: 50%;
    font-size: 14pt;
}

.adicionarRole:hover{
    background-color: #ff0086;
    cursor: pointer;
}

.botaoPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botaoPerfil p{
    color: yellow;
    padding-left: 8px;
    font-size: 6pt;
}

.imgPerfil{
    margin: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

h1{
    margin: 5px;
    font-size: 11pt;
    font-weight: bold;
}

.infoPerfil p{
    margin: 5px;
    font-size: 9pt;
}

h2{
    font-size: 9pt;
    font-weight: bold;
}

.meusAmigos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.amigos1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #13df6f;
    border-radius: 50%;
    margin: 5px;
}

.imgAmigo1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px;
}

.amigos2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #13df6f;
    border-radius: 50%;
    margin: 5px;
}

.imgAmigo2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px;
}

.amigos3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    margin: 5px;
}

.imgAmigo3{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px;
}

.amigos4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #ff0086;
    border-radius: 50%;
    margin: 5px;
}

.imgAmigo4{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px;
}

.amigos5{
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color:  #ff0086;
    border-radius: 50%;
    margin: 5px;
}

.imgAmigo5{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px;
}

.amigos6{
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color:  #ff0086;
    border-radius: 50%;
    margin: 5px;
}

.imgAmigo6{
    width: 40px;
    height: 40px;
    background-color:  #ff0086;
    border-radius: 50%;
    margin: 2px;
}

.amigos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color:  #ff0086;
    border-radius: 50%;
    margin: 5px;
}

.amigos p{
    color: yellow;
    font-size: 15pt;
}

.meusInteresses{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.329);
}

.interesses1, .interesses2, .interesses3, .interesses4, .interesses5, .interesses6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color:  #ff0086;
    border-radius: 50%;
    margin: 5px;
}

.icone1, .icone2, .icone3, .icone4, .icone5, .icone6{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px;
}

.interesses{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color:  #ff0086;
    border-radius: 50%;
    margin: 5px;
}

.interesses p{
    color: yellow;
    font-size: 15pt;
}

.toNaPista{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 10pt;
    font-weight: bold;
}

h3:hover{
    color:  #ff0086;
    cursor: pointer;
}

.eventosAnteriores{
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventosAnteriores img{
    width: 165px;
    height: 110px;
    border-radius: 20%;
    margin: 15px;
}

.eventosAnteriores p{
    font-size: 25pt;
    font-weight: bolder;
}

.evento1, .evento2, .evento3, .eventosAnteriores p{
    cursor: pointer;
}

.eventosAnteriores p:hover{
    color:  #ff0086;
}

@media (min-width: 400px){
    .amigos5{
        display: flex;
    }
    .interesses5{
        display: flex;
    }
}

@media (min-width: 500px){
    .amigos6{
        display: flex;
    }
    .interesses6{
        display: flex;
    }
}

@media (min-width: 700px){
    .imgPerfil{
        margin: 20px;
        height: 70px;
        width: 70px;
    }
    .infoPerfil p{
        margin: 5px;
        font-size: 11pt;
    }
    h1{
        font-size: 15pt;
    }
    .amigos{
        width: 70px;
        height: 70px; 
    }
    .amigos p{
        color: yellow;
        font-size: 15pt;
    }
    .amigos p:hover{
        font-size: 25pt;
        cursor: pointer;
    }
    .amigos1{
        width: 70px;
        height: 70px;
    }
    .imgAmigo1{
        width: 60px;
        height: 60px;
    }
    .imgAmigo1:hover{
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    .amigos2{
        width: 70px;
        height: 70px;
    }
    .imgAmigo2{
        width: 60px;
        height: 60px;
    }
    .imgAmigo2:hover{
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    .amigos3{
        width: 70px;
        height: 70px;
    }
    .imgAmigo3{
        width: 60px;
        height: 60px;
    }
    .imgAmigo3:hover{
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    .amigos4{
        width: 70px;
        height: 70px;
    }
    .imgAmigo4{
        width: 60px;
        height: 60px;
    }
    .imgAmigo4:hover{
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    .amigos5{
        width: 70px;
        height: 70px;
    }
    .imgAmigo5{
        width: 60px;
        height: 60px;
    }
    .imgAmigo5:hover{
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    .amigos6{
        width: 70px;
        height: 70px;
    }
    .imgAmigo6{
        width: 60px;
        height: 60px;
    }
    .imgAmigo6:hover{
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    .interesses1{
        width: 70px;
        height: 70px;
    }
    .icone1{
        width: 60px;
        height: 60px;
    }
    .icone1:hover{
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    .interesses2{
        width: 70px;
        height: 70px;
    }
    .icone2{
        width: 60px;
        height: 60px;
    }
    .icone2:hover{
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    .interesses3{
        width: 70px;
        height: 70px;
    }
    .icone3{
        width: 60px;
        height: 60px;
    }
    .icone3:hover{
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    .interesses4{
        width: 70px;
        height: 70px;
    }
    .icone4{
        width: 60px;
        height: 60px;
    }
    .icone4:hover{
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    .interesses5{
        width: 70px;
        height: 70px;
    }
    .icone5{
        width: 60px;
        height: 60px;
    }
    .icone5:hover{
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    .interesses6{
        width: 70px;
        height: 70px;
    }
    .icone6{
        width: 60px;
        height: 60px;
    }
    .icone6:hover{
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    .interesses{
        width: 70px;
        height: 70px;
    }
    .interesses p{
        color: yellow;
        font-size: 15pt;
    }
    .interesses p:hover{
        font-size: 25pt;
        cursor: pointer;
    }
    h2{
        font-size: 12pt;
        font-weight: bold;
        margin: 40px 0 10px 0;
    }
    h3{
        font-size: 15pt;
        font-weight: bold;
        margin: 30px;
    }
}